---
name: Check Documentation

on:
  pull_request:

permissions:
  contents: read

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Install Tools
      run: make tools
    - name: Check Structure
      run: make docs-check
    - name: Check HCL Formatting
      run: make docs-hcl-lint
