---
name: golangci-lint

on:
  pull_request:
    paths-ignore:
      - '.github/**'
      - '/*'
      - '!main.go'
      - 'acctests/**'
      - 'docs/**'
      - README.md
      - 'scripts/**'
  push:
    paths-ignore:
      - '.github/**'
      - '/*'
      - '!main.go'
      - 'acctests/**'
      - 'docs/**'
      - README.md
      - 'scripts/**'
  schedule:
    - cron: 30 00 * * 1

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: true
      - run: go mod download
      - run: go build -v .
      - name: Run Linters
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: v2.1.6
