---
name: golangci-lint

on:
  pull_request:
    paths-ignore:
      - '.github/**'
      - '/*'
      - '!main.go'
      - 'acctests/**'
      - 'docs/**'
      - README.md
      - 'scripts/**'
  push:
    paths-ignore:
      - '.github/**'
      - '/*'
      - '!main.go'
      - 'acctests/**'
      - 'docs/**'
      - README.md
      - 'scripts/**'
  schedule:
    - cron: 30 00 * * 1

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: true
      - run: go mod download
      - run: go build -v .
      - name: Run Linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.1.6
