---
name: golangci-lint

on:
  pull_request:
    paths-ignore:
      - '.github/**'
      - '/*'
      - '!main.go'
      - 'acctests/**'
      - 'docs/**'
      - README.md
      - 'scripts/**'
  push:
    paths-ignore:
      - '.github/**'
      - '/*'
      - '!main.go'
      - 'acctests/**'
      - 'docs/**'
      - README.md
      - 'scripts/**'
  schedule:
    - cron: 30 00 * * 1

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache: true
      - run: go mod download
      - run: go build -v .
      - name: Run Linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.1.6
